<div class="row text-center">
  <h2>Upload images</h2>
</div>
<div class="row pb-3">
  <form action="/update/<%= project._id %>" method="POST" novalidate class="form-project-images" enctype="multipart/form-data">
    <div class="col-md-6 mx-auto text-center">
      <!-- <input hidden type="text" id="projectId" value="<%= project._id %>"> -->
      <input type="file" name="image" id="" multiple>
      <!-- <div class="mb-3">
        <label for="dateFirstCompleted" class="form-label text-capitalize">date First Completed</label>
        <input type="date" class="form-control" id="dateFirstCompleted" value="<%= project.dateFirstCompleted.toISOString().substring(0,10) %>">
      </div>
      <div class="mb-3">
        <label for="siteLink" class="form-label text-capitalize">site Link</label>
        <input type="url" class="form-control" id="siteLink" value="<%= project.siteLink %>">
      </div>
      <div class="mb-3">
        <label for="techniquesUsed" class="form-label text-capitalize">techniques Used</label>
        <input type="text" class="form-control" id="techniquesUsed" value="<%= project.techniquesUsed %>">
      </div>
      <div class="mb-3">
        <label for="githubRepo" class="form-label text-capitalize">GitHub Repo</label>
        <input type="url" class="form-control" id="githubRepo" value="<%= project.githubRepo %>">
      </div> -->
      <div class="justify-self-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>