<tr id="row<%= project._id %>">
  <th scope="row"><%= project.title %></th>
  <td>
    <%= project.dateFirstCompleted.toLocaleString('en-us', {month: 'long', day: 'numeric', year: 'numeric'}) %>
  </td>
  <td>
    <a href="/update/<%= project._id %>" class="btn btn-sm btn-outline-primary" role="button">Edit</a>
  </td>
  <td>
    <button id="deleteBtn" data-project-id="<%= project._id %>" class="btn btn-sm btn-outline-danger" type="button">Delete</button>
  </td>
</tr>