<tr id="row<%= project._id %>">
  <th scope="row"><%= project.title %></th>
  <td>
    <a href="/admin/update/<%= project._id %>" class="btn btn-sm btn-outline-primary" role="button">Edit Text</a>
  </td>
  <td>
    <a href="/admin/images/<%= project._id %>" class="btn btn-sm btn-outline-info" role="button">Edit Images</a>
  </td>
  <td>
    <a href="/admin/delete/<%= project._id %>" class="btn btn-sm btn-outline-danger deleteBtn" role="button">Delete</a>
  </td>
</tr>