<div class="row text-center pb-3">
  <h1>Edit Project Details:</h1>
</div>
<form class="form-project-data-update">
  <div class="row pb-3">
    <div class="col-md-6 mx-auto text-center">
      <input hidden type="text" id="projectId" value="<%= project._id %>">
      <div class="mb-3">
        <label for="title" class="form-label text-capitalize">title</label>
        <input type="text" class="form-control" id="title" value="<%= project.title %>">
      </div>
      <div class="mb-3">
        <label for="subtitle" class="form-label text-capitalize">subtitle</label>
        <input type="text" class="form-control" id="subtitle" value="<%= project.subtitle %>">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label text-capitalize">description</label>
        <input type="text" class="form-control" id="description" value="<%= project.description %>">
      </div>
      <div class="mb-3">
        <label for="dateFirstCompleted" class="form-label text-capitalize">date First Completed</label>
        <input type="date" class="form-control" id="dateFirstCompleted" value="<%= project.dateFirstCompleted.toISOString().substring(0,10) %>">
      </div>
      <div class="mb-3">
        <label for="siteLink" class="form-label text-capitalize">site Link</label>
        <input type="url" class="form-control" id="siteLink" value="<%= project.siteLink %>">
      </div>
      <div class="mb-3">
        <label for="techniquesUsed" class="form-label text-capitalize">techniques Used</label>
        <input type="text" class="form-control" id="techniquesUsed" value="<%= project.techniquesUsed %>">
      </div>
      <div class="mb-3">
        <label for="githubRepo" class="form-label text-capitalize">GitHub Repo</label>
        <input type="url" class="form-control" id="githubRepo" value="<%= project.githubRepo %>">
      </div>
    </div>
    <div class="col-md-6 mx-auto text-center">
      <div class="mb-3">
        <h2 class="text-capitalize fs-4 text-muted">what i learned:</h2>
        <label for="icons" class="form-label text-capitalize">icons (separate by ", " font awesome or emoji)</label>
        <input type="text" class="form-control" name="icons" value="<%= whatILearned.icons1 %>">
        <label for="paragraph" class="form-label text-capitalize">paragraph</label>
        <textarea type="text" class="form-control" name="paragraph" rows="3" cols="50"><%= whatILearned.para1 %></textarea>
        <label for="icons" class="form-label text-capitalize">icons</label>
        <input type="text" class="form-control" name="icons" value="<%= whatILearned.icons2 %>">
        <label for="paragraph" class="form-label text-capitalize">paragraph</label>
        <textarea type="text" class="form-control" name="paragraph" rows="3" cols="50"><%= whatILearned.para2 %></textarea>
        <label for="icons" class="form-label text-capitalize">icons</label>
        <input type="text" class="form-control" name="icons" value="<%= whatILearned.icons3 %>">
        <label for="paragraph" class="form-label text-capitalize">paragraph</label>
        <textarea type="text" class="form-control" name="paragraph" rows="3" cols="50"><%= whatILearned.para3 %></textarea>
        <label for="icons" class="form-label text-capitalize">icons</label>
        <input type="text" class="form-control" name="icons" value="<%= whatILearned.icons4 %>">
        <label for="paragraph" class="form-label text-capitalize">paragraph</label>
        <textarea type="text" class="form-control" name="paragraph" rows="3" cols="50"><%= whatILearned.para4 %></textarea>
      </div>
    </div>
  </div>
  <div class="row pb-3 mx-auto text-center">
    <div class="justify-self-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</form>